body {
    background-image: url("../img/patitas.jpeg");
    background-repeat: repeat;
    background-size: cover;
}

.contenedor-padre {
    display: flex;
    justify-content: center;
}

.quienesSomos {
    /**background-color: #FF813E;**/
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    background-color: rgba(222, 155, 38, 0.6);
}


.contenedor-botones {
    text-align: center;

}

.collapse {
    display: flex;
    justify-content: center;
}

.boton2 {
    text-align: center;
    margin-top: 25px;
}

.boton {
    margin: 50px;

}

@media (max-width:600px) {
    .quienesSomos {
        font-size: 12px;
    }

    .boton {
        margin: 10px;
    }
}

@media (max-width:768px) {
    .quienesSomos {
        font-size: 12px;
    }    
}